<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
</section>

<section class="content">

    <div class="jumbotron welcome-jumbotron">
        <h1>Bem vindo ao Sistema Hotelaria!</h1>

        <p>
            Desafio de Stairs Studio para Desenvolverdor Angular
        </p>
        <div>
            <img class="img-fluid" alt="Responsive image" src="./../../assets/images/stairs_brand_2017.png">
        </div>

        <a class="btn btn-primary btn-lg" [routerLink]="['/consulta-hospede']">Listar Hóspedes</a>
    </div>

</section>
<!-- FIM DO CONTEÚDO -->
